
:root .theme_light {
  --text-color: #353430;
  --subtitle-text-color: #353430;
  --bg-color: #f5f5f5;
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --header-accent-color: #353430;
  --header-accent-color-rgb:53, 52, 48;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__recording {
  display: none;
}

.theme_light .main__title {
  color: #353430;
}

.theme_light .content-section__title {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --subtitle-text-color: #353430;
    --bg-color: #f5f5f5;
    --accent-color: #FF8DCB;
    --heading-color: #FFC2E6;
    --header-accent-color: #353430;
    --header-accent-color-rgb:53, 52, 48;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
  
  .header__recording {
    display: none;
  }

  .main__title {
    color: #353430;
  }

  .content-section__title {
    color: var(--text-color);
  }

}