/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.header {
  position: relative;
  display: grid;
  gap: 65px;
  justify-items: end;
  align-content: end;
  inline-size: clamp(375px, 100%, 1024px);
  block-size:100vh;
  margin: 0 auto;
  padding: 0 10px 66px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--header-accent-color);
  border-block-start: 1px solid var(--header-accent-color)
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--header-accent-color);
  border-block-end: 1px solid var(--header-accent-color);
}

.header__recording {
  position: absolute;
}

.header__recording::before {
  content: "REC";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: var(--accent-color);
}

.header__recording::after {
  content: "";
  position: absolute;
  inset-block-start: 18px;
  inset-inline-end: 19px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  align-self: start;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
}

.header__theme-menu-item {
 
  
}

.header__theme-menu-button {
  color: var(--header-accent-color);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--header-accent-color-rgb), 0.4)
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--header-accent-color);
}

.header__theme-menu-button_type_light {
}

.header__theme-menu-button_active {
  pointer-events: none
}

.header__theme-menu-button_active:disabled {
  outline: 1px solid var(--header-accent-color);
}

.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}


.header__content {
  display: grid;
  gap: 55px;
  justify-items: end;
  inline-size: 100%;
}

.header__heading {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--heading-color);
  font-size: var(--heading-fs);
  font-weight: 700;
  line-height: 82.5%;
  justify-self: start;
}

.header__title {
  max-inline-size: max(355px, 50%);
  font-size: inherit;
  font-weight: 700;
}

.title-decor {
  color: var(--subtitle-text-color);
  background-color: var(--accent-color);
}

/* MAIN  И SECTIONS СЕТКИ */

.main {
  display: grid;
  gap: 50px;
  inline-size: clamp(375px, 100%, 1024px);
  margin: 0 auto;
  padding: 40px 10px;
}

.main__why-section {
  display: grid;
  gap: 20px;
}

.main__what-section {
  display: grid;
  gap: 20px;
}

/* СТИЛИ */

.main__title {
  color: #FF0070;
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
}

.main__content-wrapper {
  display: grid;
  gap: 10px;
}

.main__subtitle {
  font-size: inherit;
}

.main__text {
}

.main__link_decoration {
  text-shadow: 2px 2px 0 var(--accent-color);
}


/* МЕДИАВЫРАЖЕНИЯ ДЛЯ ГОРИЗОНТАЛЬНОГО РАСПОЛОЖЕНИЯ ПЛАНШЕТА */

@media  (640px <= width <= 800px) {
  .header {
    gap: 173px;
  }

  .header__content {
    gap: 162px;
  }

}

/* МЕДИАВЫРАЖЕНИЯ ОБОИХ БОЛЬШИХ ЭКРАНОВ */

@media  (width >= 640px) {
  .header {
    padding: 0 20px 183px 0;
  }

  .header__heading {
    --heading-fs: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  
  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__recording::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__recording::after {
    inset-block-start: 28px;
    inset-inline-end: 29px;
  }

  .header__title {
    inline-size: max(355px, calc(50% - 10px));
  }

  /* main */

  .main-content-wrapper {
    padding: 80px 20px;
  }

}

/* МЕДИАВЫРАЖЕНИЯ DESKTOP */

@media (width >= 960px) {
  .header {
    align-content: space-between;
    padding: 20px 20px 134px 0;
    gap: 114px;
  }

  .header__theme-menu {
    position: relative;
    left: 10px;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__content {
    gap: 114px;
  }

}

